html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #f7f2df;
  background-image: url("data:image/svg+xml,%3Csvg width='52' height='26' viewBox='0 0 52 26' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cg fill='%230f69d0' fill-opacity='0.2'%3E%3Cpath d='M10 10c0-2.21-1.79-4-4-4-3.314 0-6-2.686-6-6h2c0 2.21 1.79 4 4 4 3.314 0 6 2.686 6 6 0 2.21 1.79 4 4 4 3.314 0 6 2.686 6 6 0 2.21 1.79 4 4 4v2c-3.314 0-6-2.686-6-6 0-2.21-1.79-4-4-4-3.314 0-6-2.686-6-6zm25.464-1.95l8.486 8.486-1.414 1.414-8.486-8.486 1.414-1.414z' /%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
  background-repeat: space;
  background-attachment: fixed;
  background-size: 800px;
  font-family: "Mulish", sans-serif;
  font-size: 1.3rem;
  text-align: center;
  color: #4d2b32;
  line-height: 1.5;
}

h1 {
  font-family: "Poppins", sans-serif;
  font-size: 5rem;
  padding-top: 50%;
}

h2 {
  font-family: "Poppins", sans-serif;
  font-size: 2.5rem;
  font-weight: bold;
  margin-bottom: 30px;
}

h3 {
  margin: 30px 0;
}

/*** LINK STYLE ***/

a:link,
a:visited {
  color: #4d2b32;
  text-decoration: none;
}

a:hover {
  color: #c26565;
  text-decoration: none;
}

/*** LINK STYLE END ***/

/*** HR WAVES STYLE ***/

.hr-wave {
  margin: -25px 0;
}

.hr-wave-2,
.hr-wave-3 {
  position: relative;
  z-index: -10;
  margin-top: -150px;
}

.hr-wave-4 {
  background-color: #853122;
  margin: -50px 0;
}

/* HR WAVES STYLE END */

/*** NAVBAR STYLE ***/

nav ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-align: right;
}

nav ul li {
  display: inline-block;
}

nav ul li a {
  display: block;
  padding: 30px;
}

/*** NAVBAR STYLE END ***/

/*** SECTIONS GENERAL STYLE ***/

#landing {
  height: 70vh;
}

#landing,
.skills-container,
.socials-container {
  display: flex;
  justify-content: space-evenly;
}

.landing-heading-container,
.landing-img-container,
.socials,
.contact-form,
.software,
.languages {
  display: inline-block;
}

#about,
#skills {
  background-color: #d9a29a;
  margin: 0 auto;
  padding: 4% 3%;
}
/*** SECTIONS GENERAL STYLE END ***/

/*** LANDING BANNER ***/

.landing-img {
  height: 80vh;
  padding-top: 50px;
}

.h1-highlight {
  color: #d33d2e;
}

/*** LANDING BANNER END ***/

/*** GOALS STYLE ***/

#goals {
  padding: 20px 0;
}

/** CARDS ***/

.cards {
  position: relative;
  display: flex;
  justify-content: space-evenly;
  padding: 50px;
}

.card {
  display: inline-block;
  background-color: #c8d5db;
  opacity: 0.8;
  width: 20%;
  border-radius: 10px;
  padding: 100px 50px;
  box-shadow: -1px 1px 36px 5px rgba(158, 158, 158, 0.57);
}

.card p {
  font-size: 1.1rem;
  color: #554c4e;
}

.card .fa {
  font-size: 5rem;
  margin: 15px 0;
  display: block;
}

.card:hover {
  opacity: 1;
}
/*** GOALS STYLE END ***/

/*** SKILLS STYLE ***/

.software,
.languages {
  background-repeat: no-repeat;
  background-size: contain;
}

.software {
  width: 30%;
  background-image: url(./img/blob-software.svg);
  background-position-x: center;
}

.software ul {
  list-style-type: none;
}

.software ul li {
  padding: 10px 0;
}

.languages {
  width: 40%;
  background-image: url(./img/blob-languages.svg);
  background-position-x: center;
}

.languages table {
  margin: 0 auto;
}

.languages table td {
  padding: 10px 20px;
}

.points {
  font-size: 1.7rem;
}

.points-filled {
  color: #d33d2e;
}

/*** SKILLS STYLE END ***/

/*** CONTACT STYLE ***/

#contact,
footer {
  background-color: #853122;
  color: #f5d69b;
}

#contact {
  padding: 30px 0;
}

#contact a {
  color: #f5d69b;
  font-size: 2rem;
  padding: 15px;
}

#contact a:hover {
  color: #f7f2df;
}

/* FORM STYLE */

.contact-form {
  text-align: left;
}

form {
  display: inline-block;
  margin-top: 30px;
  text-align: left;
  width: 100%;
}

label {
  display: block;
  margin-bottom: 15px;
}

input[type="text"],
input[type="email"] {
  border: none;
  border-bottom: 2px solid #f5d69b;
  background-color: #853122;
  width: 100%;
  padding: 20px 20px 5px 2px;
}

::placeholder {
  font-family: "Mulish", sans-serif;
  font-size: 1.1rem;
  color: #c44d38;
}

input[type="submit"] {
  background-color: #f5d69b;
  border: none;
  padding: 10px 20px;
  border-radius: 7px;
  margin-top: 20px;
  color: #4d2b32;
  font-family: "Mulish", sans-serif;
  font-size: 1.1rem;
}

input[type="submit"]:hover {
  background-color: #f7f2df;
  color: #4d2b32;
}

input:focus,
input:after {
  color: #f5d69b;
  font-family: "Mulish", sans-serif;
  font-size: 1.1rem;
}

/*** CONTACT STYLE END ***/

/*** FOOTER STYLE ***/

footer {
  font-size: 0.8rem;
  padding: 50px 0 15px 0;
}

/*** FOOTER STYLE END ***/
